<div class="container">
    <div class="form">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <label for="title"><i class="fas fa-check-circle"></i> Title</label>
            <input class="form-text" id="title" name="title" ngModel required>
            <label for="description"><i class="fas fa-check-circle"></i> Description</label>
            <input class="form-text" id="description" name="description" ngModel required>
            <label for="url"><i class="fas fa-check-circle"></i> URL</label>
            <input class="form-text" id="url" name="url" ngModel required>
            <button [disabled]="!form.valid" type="submit">Create resource</button>
        </form>
    </div>
</div>
