.resource-container {
    border: 2px solid #DDD;
    border-radius: 7px;
    background: white;
    list-style-type: none;

    .resource-header {
        padding: .5em 1em;
        width: 100%;
        background: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        font-family: 'Nunito', sans-serif;

        h5 {
            padding-top: .4em;
            font-weight: 600;
        }
    }

    .resource-body {
        padding: 1em 1em;
        display: flex;
        background: white;
        border-radius: 0 0 5px 5px;
        font-family: 'Roboto', sans-serif;

        max-height: 265px;

        .resource-thumbnail {
            width: 50%;
            margin-right: 1em;

            img {
                border-radius: 5px;
                border: 1px solid #DDD;
                max-width: 100%;
            }
        }

        .resource-description {
            width: 50%;
            text-align: justify;
            overflow-y: scroll;
            padding-right: 1em;

            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background: #e5e5e5;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #cbcbcb;
            }

            &::-webkit-scrollbar-track {
                background: #ffffff;
                border-radius: 10px;
                box-shadow: inset 7px 10px 12px #f0f0f0;
            }
        }
    }

    .resource-footer {
        padding: 0.75rem 1.25rem;
        background-color: rgba(0, 0, 0, 0.03);
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
}
