<nav>
    <div class="top-nav">
        <div class="top-nav-left">
            <a href="#">
                <svg fill="none" height="40" viewBox="0 0 50 55" width="40" xmlns="http://www.w3.org/2000/svg">
                    <rect height="45.972" rx="8.5" stroke="#000" stroke-width="3" width="46.974" x="2.437" y="2.472"/>
                    <path d="M36.668 12.44c.456 0 .804.144 1.044.432.264.264.396.624.396 1.08V36.74c0 .432-.12.78-.36 1.044s-.576.396-1.008.396c-.432 0-.756-.132-.972-.396-.216-.264-.324-.612-.324-1.044V18.344L27.632 33.32c-.336.696-.828 1.044-1.476 1.044-.624 0-1.116-.348-1.476-1.044l-7.848-14.796V36.74c0 .432-.12.78-.36 1.044-.216.264-.54.396-.972.396-.432 0-.768-.132-1.008-.396s-.36-.612-.36-1.044V13.952c0-.456.132-.816.396-1.08.264-.288.624-.432 1.08-.432.6 0 1.08.348 1.44 1.044l9.144 17.532 9.036-17.532c.192-.384.396-.648.612-.792.24-.168.516-.252.828-.252z"
                          fill="#000"/>
                </svg>
                MockMooc
            </a>
        </div>

        <div class="top-nav-center">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Explore
                <svg fill="none" height="6" viewBox="0 0 15 10" width="11" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0-1h9.131" stroke="#000" stroke-width="2" transform="rotate(-44.987 14.932 -5.77)"/>
                    <path d="M0-1h9.892" stroke="#000" stroke-width="2" transform="rotate(-135.013 6.331 2.032)"/>
                </svg>
            </a>
        </div>

        <div class="top-nav-right">
            <svg height="60" width="60">
                <circle cx="30" cy="30" fill="#DBF2F1" r="20"/>
            </svg>
            <svg fill="none" height="6" viewBox="0 0 15 10" width="11" xmlns="http://www.w3.org/2000/svg">
                <path d="M0-1h9.131" stroke="#000" stroke-width="2" transform="rotate(-44.987 14.932 -5.77)"/>
                <path d="M0-1h9.892" stroke="#000" stroke-width="2" transform="rotate(-135.013 6.331 2.032)"/>
            </svg>
        </div>
    </div>
</nav>
