<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label for="title">Titre</label>
        <input class="form-text" id="title" name="title" ngModel required>
        <input class="form-text" id="url" name="url" ngModel required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input class="form-text" id="description" name="description" ngModel required>
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input class="form-text" id="url" name="url" ngModel required>
    </div>
    <input [disabled]="!form.valid" class="btn-primary" type="submit" value="Créer la ressource">
</form>
