<!--
###################################################### Connexion #######################################################
Formulaire permettant de se connecter, l'utilisateur fourni un pseudo ainsi qu'un mot de passe.
-->

<div class="container">
    <div class="form">
        <form class="login-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <input type="text" name="pseudo" ngModel placeholder="Username"/>
            <input type="password" name="password" ngModel placeholder="Password"/>
            <button [disabled]="form.invalid">Login</button>
            <p class="message">Not registered? <a [routerLink]="['/signup']">Create an account</a></p>
        </form>
    </div>
</div>
