<div *ngIf="this.path">
    <div class="path-container">
        <div class="path-left">
            <app-path [path]="this.path" [classList]="['big-card']"></app-path>
        </div>

        <div class="path-right">
            <div class="modules-list-container">
                <ol>
                    <li *ngFor="let module of this.path._modules">
                        <app-module
                            [module]="module"
                            [routerLink]="[module._idModule]"
                        ></app-module>
                    </li>
                </ol>
            </div>
        </div>

        <div class="path-controls">
            <button *ngIf="canEdit && !edit" (click)="edit = true" class="edit"><i class="fas fa-pencil-alt"></i></button>

            <button *ngIf="edit" (click)="onViewAllModule()" class="clone-button"><i class="fas fa-clone"></i>
            </button>

            <button *ngIf="edit"
                    [routerLink]="['/path', this.route.snapshot.paramMap.get('idPath'), 'create-module']"
                    class="add-button"><i class="fas fa-plus"></i>
            </button>

            <button *ngIf="edit"
                    (click)="deletePath()"
                    class="delete-button"><i class="fas fa-times-circle"></i>
            </button>
            <button *ngIf="edit" (click)="onValidate()" class="done"><i class="fas fa-check"></i></button>
        </div>
    </div>
</div>
