.path-container {
    display: flex;
    justify-content: space-around;

    .path-left {
        width: 50%;
        height: 100%;
        margin: 2em 0;
    }

    .path-right {
        width: 50%;
        height: 100%;
        margin: 2em 0;
    }
}
