.path-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;

    .path-left {
        width: 50%;
        height: 100%;
        margin-left: 2em;
    }

    .path-right {
        width: 50%;
        height: 100%;
        margin-right: 2em;

        .modules-list-container {

            li {
                border: 2px solid #DDD;
                border-radius: 7px;
                margin-bottom: 2em;
                cursor: pointer;
                list-style-type: none;
            }
        }
    }

    .path-controls {

        button {
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            background: #777;
            color: white;
            border-radius: 50px;
        }

        .edit {
            font-size: 30px;
            padding: 5px 13px;
            transition: color ease-in-out .2s;
            -webkit-box-shadow: 5px 5px 5px 0px #999;
            -moz-box-shadow: 5px 5px 5px 0px #999;
            box-shadow: 5px 5px 5px 0px #999;

            &:hover {
                color: #777;
                background: white;
            }
        }

        .done {
            font-size: 30px;
            padding: 5px 13px;
            transition: color ease-in-out .2s;
            -webkit-box-shadow: 5px 5px 5px 0px #999;
            -moz-box-shadow: 5px 5px 5px 0px #999;
            box-shadow: 5px 5px 5px 0px #999;

            &:hover {
                color: #777;
                background: white;
            }
        }

        .clone-button {
            height: 55px;
            margin-right: 70px;
            font-size: 25px;
            background: #00b4d8;
            padding: 5px 15px;
            -webkit-box-shadow: 5px 5px 5px 0px #999;
            -moz-box-shadow: 5px 5px 5px 0px #999;
            box-shadow: 5px 5px 5px 0px #999;

            &:hover {
                color: #777;
                background: white;
            }
        }

        .add-button {
            height: 55px;
            margin-right: 140px;
            font-size: 30px;
            background: #16d19f;
            padding: 5px 15px;
            -webkit-box-shadow: 5px 5px 5px 0px #999;
            -moz-box-shadow: 5px 5px 5px 0px #999;
            box-shadow: 5px 5px 5px 0px #999;

            &:hover {
                color: #777;
                background: white;
            }
        }

        .delete-button {
            height: 55px;
            margin-right: 210px;
            font-size: 30px;
            background: #f8333c;
            padding: 5px 13px;
            -webkit-box-shadow: 5px 5px 5px 0px #999;
            -moz-box-shadow: 5px 5px 5px 0px #999;
            box-shadow: 5px 5px 5px 0px #999;

            &:hover {
                color: #777;
                background: white;
            }
        }
    }
}
