//
// ####################################################### Module ######################################################
// Feuille de style pour le composant permettant l'affichage d'un module.
//

li {
    border: 2px solid #DDD;
    border-radius: 7px;
    background: white;
    list-style-type: none;

    .module-head {
        padding: .5em 1em;
        width: 100%;
        background: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        font-family: 'Nunito', sans-serif;

        h4 {
            padding-top: .3em;
            font-weight: 600;
        }
    }

    .module-body {
        padding: .5em 1em;
        text-align: justify;
        background: white;
        border-radius: 0 0 5px 5px;
        font-family: 'Roboto', sans-serif;
    }

    .module-footer {
        padding: 0.75rem 1.25rem;
        background-color: rgba(0, 0, 0, 0.03);
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
}
