.dropdown-content {
    position: absolute;
    top: 75px;
    right: 40px;
    width: 200px;
    height: auto;
    background: white;
    border-radius: 7px;
    -webkit-box-shadow: 5px 5px 5px 0px #666;
    -moz-box-shadow: 5px 5px 5px 0px #666;
    box-shadow: 5px 5px 5px 0px #666;
    z-index: 20;

    a {
        padding: 10px 20px;
        text-decoration: none;
        color: #777;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 18px;

        i {
            padding-right: 10px;
            padding-top: 3px;
        }
    }

    .account {
        border: 2px solid #777;
        border-radius: 5px 5px 0 0;
        transition: color ease-in-out .2s;

        &:hover {
            color: white;
            background: #777;
        }
    }

    .logout {
        border-bottom: 2px solid #777;
        border-left: 2px solid #777;
        border-right: 2px solid #777;
        border-top: none;
        border-radius: 0 0 5px 5px;
        transition: color ease-in-out .2s;

        &:hover {
            color: white;
            background: #777;
        }
    }
}
