<div *ngIf="this.module">
    <div class="module-container">
        <div class="module-left">
            <app-module [module]="this.module"></app-module>
        </div>

        <div class="module-right">
            <div class="resources-list-container">
                <ol>
                    <li *ngFor="let resource of this.module._resources">
                        <div >
                            <app-resource [resource]="resource" [routerLink]="[resource._idResource]"></app-resource>
                        </div>
                    </li>
                </ol>
            </div>
        </div>

        <div class="module-controls">
            <button class="edit" (click)="this.edit = true" *ngIf="this.canEdit && !this.edit"><i class="fas fa-pencil-alt"></i></button>
            <button class="clone-button" *ngIf="edit"><i class="fas fa-clone"></i></button>
            <button class="add-button" *ngIf="!clone && this.edit" [routerLink]="['create-resource']"><i class="fas fa-plus"></i></button>
            <button class="delete-button" *ngIf="edit" (click)="deleteModule()"><i class="fas fa-times-circle"></i></button>
            <button class="done" (click)="onValidated()" *ngIf="canEdit && edit"><i class="fas fa-check"></i></button>
        </div>
        <button class="clone-module-button" (click)="onClone()" *ngIf="clone"><i class="fas fa-clone"></i></button>
    </div>
</div>

