<!--
#################################################### Créer Parcours ######################################################
Formulaire permettant de créer un parcours, l'utilisateur fourni un titre ainsi qu'une description et des tags.
-->

<div class="container">
    <div class="form">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <label for="title"><i class="fas fa-check-circle"></i> Title</label>
            <input class="form-text" id="title" name="title" ngModel required>
            <label for="description"><i class="fas fa-check-circle"></i> Description</label>
            <input class="form-text" id="description" name="description" ngModel required>
            <input type="text" class="form-text" [(ngModel)]="this.tags" (ngModelChange)="createTag()" placeholder="Tag"
                   name="tags">
            <div *ngIf="tagList">
                <small *ngFor="let tag of this.tagList" (click)="addTag(tag)">#{{tag._name}}</small><br>
            </div>
            <button [disabled]="form.invalid" type="submit">Create path</button>
        </form>
    </div>
</div>
