.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 500px;
    margin: 0 auto 100px;
    padding: 30px;
    border-radius: 3px;
    text-align: left;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.form label {
    font-size: 16px;
    font-weight: bold;
}

.form small {
    border-radius: 30px;
    padding: 5px 10px;
    background: #cbcbcb;
    margin: 10px;
}

.form button {
    outline: 0;
    background: #727272;
    width: 100%;
    border: 0;
    padding: 15px;
    border-radius: 3px;
    color: #FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.container {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}
