<div class="container">
    <div class="form">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <label for="title"><i class="fas fa-check-circle"></i>Title</label>
            <input class="form-text" id="title" name="title" ngModel required>
            <label for="title"><i class="fas fa-check-circle"></i>Description</label>
            <input class="form-text" id="description" name="description" ngModel required>
            <button [disabled]="!form.valid" type="submit">Create module</button>
        </form>
    </div>
</div>
